#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-form{
  border:1px solid #ccc;
  padding:1rem;
  border-radius: 4px;
}

.input-block {
  margin: 1rem 0;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  
}

.input-block label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.input-block input,
.input-block textarea {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.tbl-container {
  margin-top: 2rem;
  overflow-x: auto;
}

.tbl-container table {
  width: 100%;
  border-collapse: collapse;
}

.tbl-container table tr:nth-child(even) {
  background-color: #efefef;
}
.tbl-container table thead {
  background-color: #f2f2f2;
}
.tbl-container table th,
.tbl-container table td {
  border: 1px solid #dddddd;
  padding: 0.75rem;
  text-align: left;
}

td.action-group button {
  margin-right: 0.5rem;
  border:1px solid #ccc;
  padding:0.25rem 0.5rem;
  border-radius:4px;
  background-color:#f9f9f9;
  cursor:pointer;

}


.hidden {
  transition: all 2s ease-in-out;
  display: none;
}

